{% extends "store/base.html" %}
{% load static %}

{% block categories %}
    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'store/images/theme_done.jpg' %}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">Smiley <span>Skull</span> Painting</h2>
                    <p>I have started my adventure with the hobby over 10 years ago - as a teenager.</p>

                        <p>After trying some comisison painting for friends at college, I decided to create a full fledged miniature painting service. During this time, I had an opportunity to work with various models from different manufacturers, and it has always been a blast!</p>

                    <p>I always feel, that being able to make a living out of a hobby is an amazing oportunity. I hope that you will enjoy my work as much as I do!</p>

                <p>If you have any questions about my projects, or just feel like chatting about the hobby, feel free to contact me :) Don't forget to check my portfolio on the website!</p>


                </div>
            </div>


            </div>
        </div>
    </div>
    <!-- End About Page -->

{% endblock %}

