{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>SMP.com</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'store/images/only_skull.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'store/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link href="{% static 'store/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->

    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'store/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'store/css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="right-phone-box">
                        <p><i class="fas fa-headset"></i>  Call US :- <a href="#"> +48 692 164 589</a></p>

                    </div>
                    <div class="right-phone-box">
                        <p>  </p>
                    </div>
                    <div class="right-phone-box">
                        <p><i class="fas fa-location-arrow"></i>  Email US :- <a href="#">happyskullpainting@gmail.com</a></p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                {% for category in categories %}
                                <li>
                                    <b>{{ category.name }}</b>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="/"><img src="{% static 'store/images/logo_smiley_skull_with_bg.png' %}"  class="logo" alt="" width="160" height="104"></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="/">Main page</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about/">About us</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">SHOP &darr;</a>
                            <ul class="dropdown-menu">
								<li><a href="/shop/">SHOP</a></li>
                                <li><a href="/cart/">Cart</a></li>
                                <li><a href="/pricing/">Pricing</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/gallery/">Gallery</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories &darr;</a>
                            <ul class="dropdown-menu">
                                {% for category in categories %}
                                <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/contact-us/">Contact</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>

                        <li>
							<a href="{% url 'cart:cart_detail' %}">
								<i class="fa fa-shopping-bag"></i>
								<span class="badge">
                                    {{ cart|length }}
                                </span>
                                <p> Cart</p>
							</a>
						</li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            {% block slide_menu %}
            {% endblock %}
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->


    <!-- Start Slider -->

    <!-- End Slider -->

    <!-- Start Categories  -->
    {% block categories %}

    {% endblock %}
    <!-- End Categories -->
	


    <!-- Start Products  -->
    {% block products %}

    {% endblock %}
    <!-- End Products  -->

    <!-- Start Blog  -->
    {% block blog %}
    {% endblock %}
    <!-- End Blog  -->





    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
				<div class="row">

				</div>
				<hr>
                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Info</h4>
                            <ul>
                                <li> <p><i class="fas"></i><a href="/about/">About</a></p></li>
                                <li> <p><i class="fas"></i><a href="/pricing/">Pricing and delivery</a></p></li>
                                <li> <p><i class="fas"></i><a href="/orders/checkout/">Checkout</a></p></li>
                                <li> <p><i class="fas"></i><a href="/gallery/">Gallery/Portfolio</a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact us if you have ANY questions:</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Emil Klonowski <br>Zielona Gora, Poland<br> 65-128 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+48 692 164 589</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:happyskullpainting@gmail.com">happyskullpainting@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2020 Design By : Emil Klonowski
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="{% static 'store/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'store/js/popper.min.js' %}"></script>
    <script src="{% static 'store/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'store/js/jquery.superslides.min.js' %}"></script>
    <script src="{% static 'store/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'store/js/inewsticker.js' %}"></script>
    <script src="{% static 'store/js/bootsnav.js' %}"></script>
    <script src="{% static 'store/js/images-loded.min.js' %}"></script>
    <script src="{% static 'store/js/isotope.min.js' %}"></script>
    <script src="{% static 'store/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'store/js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'store/js/form-validator.min.js' %}"></script>
    <script src="{% static 'store/js/contact-form-script.js' %}"></script>
    <script src="{% static 'store/js/custom.js' %}"></script>
</body>

</html>