{% extends "store/base.html" %}
{% load static %}

{% block categories %}
    <!-- Start About Page  -->
    <div class="about-box-main">
        <center><h2 class="noo-sh-title-top">Painting levels:</h2></center>
            <center><p>Every model is priced depending on a expected level of painting and its category. If you have any questions about a specific model, don't hesitate to contact and confirm.</p></center>
       <br> <br> <br>
        <div class="container">

            <center><h2 class="noo-sh-title-top">Standard troopers:</h2></center>
            <center><p>It is a category that includes all basic grunts of any unit, and basic sculpts of solo models.<br>Example of those include a Space Marine, Blood Bowl Orc Lineman or an Khadorian Iron Fang Pikemen</p></center>
            <div class="row my-5">

                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="row">
                            <div class="col-6">
                                <h3>4.5$ - QP</h3>
                                <p>Quick painting - perfect for peaople in rush or for a tight budget.</p>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'store/images/unit quick.jpg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="row">
                            <div class="col-6">
                                <h3>6$ - TT</h3>
                        <p>Table Top standard.</p>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'store/images/unit - medium.JPG' %}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="row">
                            <div class="col-6">
                                <h3>9$- TT+</h3>
                                <p>Some extra effort, like freehands, weathering effects, OBL, etc...</p>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'store/images/unit good.jpg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <center><h2 class="noo-sh-title-top">'Hero' class</h2></center>
            <center><p>It is a category that includes all more detailed, special models.<br>Example of those include a Space Marine Librarian, Blood Bowl Mummy or any WM/H Warcaster</p></center>
            <div class="row my-5">

                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="row">
                            <div class="col-6">
                                <h3>12$ - QP</h3>
                                <p>Quick painting - perfect for peaople in rush or for a tight budget.</p>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'store/images/image_coming_soon.jpg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="row">
                            <div class="col-6">
                                <h3>15$ - TT</h3>8
                        <p>Table Top standard.</p>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'store/images/image_coming_soon.jpg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="row">
                            <div class="col-6">
                                <h3>25$- TT+</h3>
                                <p>Some extra effort, like freehands, weathering effects, OBL, etc...</p>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'store/images/image_coming_soon.jpg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <center><h2 class="noo-sh-title-top">Big models</h2></center>
            <center><p>It is a category that includes 'big' models, that don't come as part of bigger unit.<br>Example of those include a Space Marine Rhino, Blood Bowl 'Big Guys' or any WM/H battle engine</p></center>
            <div class="row my-5">

                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="row">
                            <div class="col-6">
                                <h3>30$ - QP</h3>
                                <p>Quick painting - perfect for people in rush or for a tight budget.</p>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'store/images/big- quick.JPG' %}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="row">
                            <div class="col-6">
                                <h3>40$ - TT</h3>
                        <p>Table Top standard.</p>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'store/images/big-medium.JPG' %}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <div class="row">
                            <div class="col-6">
                                <h3>55-80$- TT+</h3>
                                <p>Some extra effort, like freehands, weathering effects, OBL, etc...</p>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{% static 'store/images/image_coming_soon.jpg' %}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    <div class="about-box-main">
        <div class="container">

            <center><h2 class="noo-sh-title-top">Delivery options:</h2></center>
            <center><p>All shipments are done via DHL (change of a deliverer is possible, but the cost may change slightly). Tha tracking number will be provided.</p></center>
            <div class="row my-5">
                {% for delivery_opt in delivery_options %}
                <div class="col-sm-6 col-lg-3">
                    <div class="service-block-inner">
                        <div class="row">
                            <div class="col-6">
                                <h3>{{ delivery_opt.price }} $</h3>
                                <p>{{ delivery_opt.name }}</p>
                            </div>
                            <div class="col-6">
                                <img class="img-fluid" src="{{ delivery_opt.picture.url }}" />
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            </div>
        </div>
    </div>
    <!-- End About Page -->

{% endblock %}

